// @import "../../../styles/variables.scss";

.settings-container {
  height: 80%;
  width: 400px;
  // max-width: $max-width;
  h1 {
    // color: $color-secondary-text;
    font-size: 2em;
    text-align: center;
  }
}

.option-group {
  padding: 1em;
  margin: 1em;
}
